@import "variables";
@import "mixins";

.result-card {
    background-color: $tertiary-color;
    padding: 1em;
    border-radius: .5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    break-inside: avoid;
    margin-bottom: 1em;

    a {
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
    }

    p {
        margin-top: 1em;
        margin-bottom: 0;
    } 
}