$primary-color: #1D5D9B;
$secondary-color: #75C2F6;
$tertiary-color: #F4D160;
$light-cyan: #FBEEAC;

$text-black: #000000;
$text-dark: #1c1c1c;
$text-white: #ffffff;

$dark-grey: #535353;
$light-grey: #aaaaaa;