@import "variables";
@import "mixins";

.main {
    padding: 2em 1em;

    form {
        width: 100%;
        max-width: 30em;
        margin: 0 auto;

        & > label {
            width: 100%;

            & > div {
                font-weight: bold;
                color: $primary-color;
            }

            & > input {
                width: 100%;
                margin-bottom: 1em;
            }
        }

        & > button {
            width: 100%;
        }
    }

    .results {
        margin: 2em 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    h2 {
        text-align: center;
        margin-top: 2em;
    }

    .sort-wrap {
        @include vertical-center;
        gap: .3em;
        margin: 1em 0;
    }

    & > input {
        border-width: .1em;
        display: block;
        width: 100%;
        max-width: 30em;
        margin: 0 auto;
    }
}